<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="popup" class="hidden">Order Placed succesfully</div>
    <%- include("../partials/navbar", assets) %>
    <section>
        <div id="cart-container" class="container">
            <% items.forEach((item)=>{ %>
                <div class="cart-item-container">
                    <div>
                        <img src="<%- item.id.imageurl %>" alt="">
                    </div>

                    <div>
                        <div>
                            <h1><%- item.id.name  %></h1>
                            <p><%- item.id.description  %></p>
                            <div class="cart-button-area">
                                <p>Quantity :</p>
                                <a href="/shop/cart/decrement/<%-item.id._id%>"> <button class="decrement"> - </button></a>
                                <div class="quantity"><%- item.qty %></div>
                                <a href="/shop/cart/increment/<%-item.id._id%>"><button class="increment"> + </button></a>
                                <div style="display: none;"><%- item.id._id%></div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>

            <div class="center subtotal">
                <h1>Subtotal: ₹<%- totalPrice %></h1>
            </div>

        </div>

        <div class="center">
            <a href="/shop/cart/buy">
                <button class="buybtn">Buy now</button>
            </a>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>